:root {
  --color--primary: #1f1bd8;
  --color--secondary: #e6e4f0;
  --color--accents: #de2f34;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(./../../images/wintery-sunburst3.svg);
  background-position: center;
  background-size: cover;
}

body {
  border-radius: 15px;
  font-family: "Maven Pro", Arial, Helvetica, sans-serif;
  margin: 5rem;
}

a:hover {
  opacity: 0.7;
  transition: 0.03s;
}

.footer {
  padding-top: 1rem;
}

.footer__link {
  font-size: 2rem;
  color: var(--color--accents);
}

.grid {
  display: grid;
  padding-bottom: 10rem;
}

.grid--1x3 {
  grid-template-rows: repeat(3, 1fr);
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

h1 {
  font-weight: 900;
}

.hero__image {
  height: 70vh;
  object-fit: cover;
  width: 100vw;
}

.image--container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.input__container {
  height: 2.4rem;
  outline: none;
  width: 25vw;
}

.last-search__container {
  margin-bottom: 4rem;
}

.list__container {
  margin-left: 1rem;
}

.movie__container {
  margin-top: 5rem;
}

.nav__item {
  font-weight: 900;
  margin-right: 2rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
}

.nav__item {
  color: var(--color--primary);
}

.nav__item:hover {
  opacity: 0.7;
  transition: 0.03s ease-out;
}

.nav__list {
  display: flex;
  font-size: 1.6rem;
  max-height: 100%;
  opacity: 1;
  width: auto;
}

.nav__list {
  color: var(--color--primary);
}

.search__bar {
  margin-top: 1rem;
  padding-bottom: 5rem;
}

.title__heading {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .title__heading {
    font-size: 5rem;
  }
}

.title__heading {
  color: var(--color--primary);
}

.container--heading {
  color: var(--color--primary);
}

.container--heading {
  font-size: 3rem;
  font-weight: bolder;
  padding-bottom: 5rem;
}

.ranking--div {
  color: var(--color--primary);
}

.ranking--div {
  font-size: 1.5rem;
  height: 40vh;
  margin-bottom: 5rem;
  margin-left: 2rem;
  margin-top: 5rem;
  overflow: auto;
}

.ranking--div a {
  color: var(--color--primary);
  text-decoration: none;
}

.trending--section {
  padding-bottom: 4rem;
}
